.cart-item{
    display: flex;
    gap:20px;
    border:2px solid var(--main-color);
    padding: 10px;
    position: relative;
}

.cart-item .cart-item-img{
    width:100px;
    height:100px;
}

.cart-item .cart-item-details h1{
    font-size: 16px;
    margin-right: 10px;
}

.cart-item .cart-item-details p{
    margin-top: 10px;
}

.cart-item .cart-item-details h3{
    font-size: 14px;
    margin-top: 10px;
}

.cart-item  .cart-item-options{
    position: absolute;
    top:5px;
    right: 5px;
    cursor: pointer;
}

.cart-item .item-price-total{
    position: absolute;
    bottom:10px;
    right:10px;
}

.cart-item .cart-item-details{
    flex:0.8
}

.cart .total_price_cart{
    text-align: center;
    padding: 50px;
}

@media screen and (max-width:600px){

    .cart{
        padding:0px 20px;
    }
    .cart-item{
        flex-direction: column;
        align-items: center;
    }

    .cart-item .cart-item-img{
        width:200px;
        height:200px;
    }

    .cart-item .cart-item-details h1{
        font-size: 24px;
    }

    .cart-item .cart-item-details h2{
        font-size: 20px;
        margin-top: 10px;
    }

    .cart-item .cart-item-details h3{
        font-size: 16px;
    }

    .cart-item  .cart-item-options{
        top:10px;
        right:10px;
    }
    
    .cart-item .item-price-total{
        bottom:10px;
        right:10px;
        font-size: 16px;
    }
}  