@import url('https://fonts.googleapis.com/css2?family=Inter&family=Rubik:wght@400;500;600;700&display=swap');

html{
  scroll-behavior: smooth;
}

:root{
  --main-color:#FFD93D;
  --scroll-bar-bg-color:#f6f6f6;
  --scroll-bar-color:#c5c5c5;
}

*{
  scrollbar-width: thin;
  scrollbar-color: var(--scroll-bar-color) var(--scroll-bar-bg-color);
}

*::-webkit-scrollbar{
  width: 12px;
}

*::-webkit-scrollbar-track{
  background:var(--scroll-bar-bg-color);
}

*::-webkit-scrollbar-thumb{
  background-color: var(--scroll-bar-color);
  border-radius: 20px;
  /* border: 3px solid var(--scroll-bar-bg-color); */
}
body{
  margin:0;
  padding:0;
  font-family: 'Inter', sans-serif;
  font-family: 'Rubik', sans-serif;
  scrollbar-width: thin;
}

*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}

/* when the cart is opem */
body.cart-open{
  overflow: hidden;
}
.products{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px 50px 100px 50px;
  background-color: white;
}

@media screen and (max-width:600px){
  .products{
    padding: 0px 10px 100px 10px;
    justify-content: center;
  }
}